apiVersion: batch/v1
kind: CronJob
metadata:
  name: scraper
  namespace: enel
spec:
  schedule: "*/30 * * * *" # Run every 10 minutes
  jobTemplate:
    spec:
      # concurrencyPolicy: Replace
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: scraper
              image: ghcr.io/fdiaconeasa/enel-stop-crawler:master
              imagePullPolicy: Always
              volumeMounts:
                - name: scraper-config-file
                  mountPath: /app/config.toml
                  subPath: config.toml
          volumes:
            - name: scraper-config-file
              configMap:
                name: scraper-config
