apiVersion: batch/v1
kind: CronJob
metadata:
  name: scraper
  namespace: enel
spec:
  schedule: "*/1 * * * *" # Run every 1 minutes
  jobTemplate:
    spec:
      # concurrencyPolicy: Replace
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: scraper
              image: ghcr.io/fdiaconeasa/enel-stop-crawler:master
              imagePullPolicy: Always
