apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: redis
    releaseName: enel-redis
    repo: oci://registry-1.docker.io/bitnamicharts
    namespace: enel
    # valuesFile: redis-values.yaml
    valuesInline:
      architecture: standalone
      metrics:
        enabled: true
      auth:
        enabled: false

resources:
  - namespace.yaml
  - cron_deployment.yaml
