apiVersion: batch/v1
kind: CronJob
metadata:
  name: scraper
spec:
  schedule: "*/1 * * * *" # Run every 1 minute
  jobTemplate:
    spec:
      # concurrencyPolicy: Replace
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: scraper
              image: ghcr.io/homelab1025/enel-stop-crawler:latest
              imagePullPolicy: Always
              command: ["/bin/sh", "-c"]
              args:
                  - |
                    # Calculate a random delay between 0 and 50 minutes (3000 seconds)
                    # You can adjust this range as needed.
                    RANDOM_DELAY_SECONDS=$(shuf -i 0-3000 -n 1)
                    echo "Sleeping for $RANDOM_DELAY_SECONDS seconds before running scraper..."
                    sleep $RANDOM_DELAY_SECONDS
                    echo "Starting scraper now!"
                    /app/crawler /app/config.toml
              resources:
                limits:
                  memory: "512Mi"
              volumeMounts:
                - name: scraper-config-file
                  mountPath: /app/config.toml
                  subPath: config.toml
          volumes:
            - name: scraper-config-file
              configMap:
                name: scraper-config
