apiVersion: batch/v1
kind: CronJob
metadata:
  name: scraper
spec:
  schedule: "*/1 * * * *" # Run every 1 minute
  jobTemplate:
    spec:
      # concurrencyPolicy: Replace
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: scraper
              image: ghcr.io/fdiaconeasa/enel-stop-crawler:master
              imagePullPolicy: Always
              resources:
                limits:
                  memory: "512Mi"
              volumeMounts:
                - name: scraper-config-file
                  mountPath: /app/config.toml
                  subPath: config.toml
          volumes:
            - name: scraper-config-file
              configMap:
                name: scraper-config
