apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
helmCharts:
  - name: redis
    releaseName: enel-redis
    repo: oci://registry-1.docker.io/bitnamicharts
    namespace: enel
    valuesInline:
      architecture: standalone
      auth:
        enabled: false
      metrics:
        enabled: true
        podMonitor:
          enabled: true
        serviceMonitor:
          enabled: true

namespace: enel

resources:
  - namespace.yaml
  - cron_deployment.yaml
  - web-deployment.yaml

configMapGenerator:
  - name: scraper-config
    options:
      disableNameSuffixHash: true
    namespace: enel
    files:
      # map the config-prod file to a different named file
      - config.toml=../../conf/config-prod.toml
