apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: enel

resources:
  - namespace.yaml
  - cron_deployment.yaml
  - deployment-web.yaml
  - deployment-webapp.yaml
  - service.yaml
  - service-webapp.yaml
  - ingress-web.yaml
  - ingress-webapp.yaml
  - web-pod-monitor.yaml

configMapGenerator:
  - name: scraper-config
    options:
      disableNameSuffixHash: true
    namespace: enel
    files:
      # map the config-prod file to a different named file
      - config.toml=../../conf/config-prod.toml
  - name: web-config
    options:
      disableNameSuffixHash: true
    namespace: enel
    files:
      # map the config-prod file to a different named file
      - config.toml=../../conf/config-prod.toml