name: Rust

on:
  push:
    tags: ['*']
    branches: [ "master" ]
env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4
    - name: Run tests
      run: cargo test --verbose
    - name: Build
      run: cargo build --release
    - name: Build API spec
      run: cargo run -p api_gen

